.container{
    height: auto;
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;

    .frame{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}