
  
  .background-image::after {
    content: '';
    position: absolute;
    top:  0;
    right:  0;
    bottom:  0;
    left:  0;
    background: linear-gradient(to right, transparent 10%);
    opacity:  0.5;
  }