.container {
    max-width:400px;
    height: 230px;
    background-color: #31313bce;
    padding: 20px;
    border-radius: 5px;
}

.containerLight {
    max-width:400px;
    height: 230px;
    background-color: rgba(237, 237, 222, 0.8);
    padding: 20px;
    border-radius: 5px;
}
