.container {
    .text {
        font-size: 1.8rem;
        text-align: left;
        margin-top: 25px;
        font-weight: 600;

        @media(max-width:768px) {
            font-size: 1.1rem;
        }
    }
}